html {
    height: 100%;
}

body {
    background-color: #F3F3F3;
    padding: 17px;
    min-height: 100%;
}

.sidenav {
    width: 185px;
    position: fixed;
    background-color: white;
    padding: 13px
}

.sidenav a {
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: .5em .75em
}

.menu-list a:hover {
    background-color: whitesmoke;
    color: #363636;
    cursor: pointer;
}

.menu-list a.is-active {
    background-color: #3273dc;
    color: #fff
}

.main {
    margin-left: 205px; /* Same width as the sidebar + left position in px */
    padding: 17px;
    background-color: white
}

.attributesTable tr td {
    padding: 7px 7px 7px 0px;
}
.attributesTable td:first-child {
    font-weight: bold
}