@model Dozentenplanung.Models.Lecturer;

@{
    ViewData["title"] = "Dozent " + Model.Lastname;
    ViewData["menuId"] = "lecturers";
}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a asp-controller="lecturer" asp-action="index">Dozenten</a></li>
    <li class="is-active"><a href="#" aria-current="page">@Model.Fullname</a></li>
  </ul>
</nav>

<table class="attributesTable">
    <tr>
        <td>Vorname:</td>
        <td>@Model.Firstname</td>
    </tr>
    <tr>
        <td>Nachname:</td>
        <td>@Model.Lastname</td>
    </tr>
</table>
<a class="button" asp-controller="lecturer" asp-action="edit" asp-route-id=@Model.Id>Bearbeiten</a>