@model Dozentenplanung.Models.Course

@{
    string theTitleString = "Neuer Kurs";
    ViewData["menuId"] = "courses";
    bool isNew = Model == null;
    if (!isNew) {
        theTitleString = Model.Title;
    };

    ViewData["title"] = theTitleString;
}
<form id="form" asp-action="createcourse" asp-controller="Course" asp-route-id=@Model.Id asp-action="post">
    <div class="columns ">
        <div class="column">
            <div class="field">
                <label class="label">Bezeichnung</label>
                <div class="control">
                    @Html.EditorFor(course => course.Designation, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Titel</label>
                <div class="control">
                    @Html.EditorFor(course => course.Title, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
    </div>
    <div class="columns ">
        <div class="column">
            <div class="field">
                <label class="label">Jahr</label>
                <div class="control">
                    @Html.EditorFor(course => course.Year, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="course" asp-action="deletecourse" asp-route-id=@Model.Id class="button is-danger">Löschen (inkl. Module)</a>
    <button type="submit" class="button is-success" form="form">Speichern</button>
</form>