@model IEnumerable<Dozentenplanung.Models.Course>;
@{
    ViewData["title"] = "Kurse";
    ViewData["menuId"] = "courses";
}

<a asp-controller="course" asp-action="create" class="button is-success">Kurs erstellen</a>

<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bezeichnung</th>
            <th>Jahr</th>
            <th>Name</th>
            <th />
        </tr>
    </thead>
    @foreach (var eachCourse in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => eachCourse.Id)</td>
            <td>@Html.DisplayFor(modelItem => eachCourse.Designation)</td>
            <td>@Html.DisplayFor(modelItem => eachCourse.Year)</td>
            <td>@Html.DisplayFor(modelItem => eachCourse.Title)</td>
            <td><a class="button" asp-controller="course" asp-action="course" asp-route-id=@eachCourse.Id>Bearbeiten</a></td>
        </tr>
    }
</table>