@{
    ViewData["title"] = "Entwicklerseite";
    ViewData["menuId"] = "dev";
}
<a asp-controller="dev" asp-action="CreateTestData" class="button">Testdaten erstellen</a>
<a asp-controller="dev" asp-action="createDatabase" class="button">Datenbank erstellen</a>
<a asp-controller="dev" asp-action="dropdatabase" class="button is-danger">Datenbank löschen</a>